html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #d4be6a;
  text-shadow: 3px 3px 1px #a19052;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: #6e643d;
}

html {
  background-color: #b6d1bd;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #f7fac3;
  padding: 0 20px 20px 20px;
  border: 5px solid #d4be6a;
}